body {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", Arial, Verdana;
  font-size: 16px; }

h2 {
  font-family: "Ubuntu";
  font-size: 32px;
  text-align: center;
  padding-bottom: 2rem;
  margin-bottom: 2rem; }

.navbar {
  margin-bottom: 0;
  background: transparent;
  border-bottom: 0;
  font-size: 20.8px; }

.navbar-brand {
  font-size: 24px; }

#en img,
#es img {
  height: 1.5rem;
  display: inline-block;
  margin: 0 0.1rem;
  padding: 0 0.1rem; }

.modal-content {
  background: #000;
  opacity: .90; }

.modal-body {
  border-bottom: none;
  border: none; }

.wide-video {
  width: 100%; }

h4#myModalLabel {
  color: #fff;
  font-size: 24px; }

.btn-transparent,
.btn-primary {
  background: #000;
  opacity: .5;
  border: none;
  color: #fff; }

a.btn.btn-primary.btn-lg.btn-transparent:hover,
a.btn.btn-primary.btn-transparent.quote-btn-one:hover,
a.btn.btn-primary:hover,
p.theme-changer-btn.btn.btn-primary.btn-transparent:hover,
p.theme-restore-btn.btn.btn-primary.btn-transparent:hover {
  background: #000;
  opacity: .75; }

a.btn.btn-primary.btn-lg.btn-transparent:active,
a.btn.btn-primary.btn-transparent.quote-btn-one:active,
a.btn.btn-primary:active,
p.theme-changer-btn.btn.btn-primary.btn-transparent:active,
p.theme-restore-btn.btn.btn-primary.btn-transparent:active {
  background: #000;
  opacity: .65; }

a.btn.btn-primary.btn-lg.btn-transparent:visited,
a.btn.btn-primary.btn-transparent.quote-btn-one:visited,
a.btn.btn-primary:visited,
p.theme-changer-btn.btn.btn-primary.btn-transparent:visited,
p.theme-restore-btn.btn.btn-primary.btn-transparent:visited {
  background: #000;
  opacity: .60; }

a.btn.btn-primary.btn-transparent.quote-btn-one {
  margin-top: 1.5rem; }

a.btn.btn-primary.btn-transparent.quote-btn-two {
  margin-top: 1.5rem; }

.theme-changer-btn,
.theme-restore-btn {
  display: inline-block;
  margin-bottom: 4rem;
  cursor: pointer;
  margin-left: 4rem; }

h1.call-to-action,
.description-to-action {
  color: #fff;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5); }

.jumbo-text {
  margin-top: 18%; }

.jumbotron {
  background-image: url("https://hd.unsplash.com/photo-1435163570436-d7c1dee361c4");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  margin: 0; }

.about-me {
  height: auto; }

.about-me--title {
  margin-top: 6rem;
  text-align: center; }

.about-me--description {
  text-align: center;
  padding-bottom: 6rem; }

section#about-me-section {
  margin-left: 0;
  margin-right: 0; }

.about-me--description {
  line-height: 4rem;
  font-size: 2rem; }

.quotes--container {
  padding-bottom: 5rem; }

.quote--one,
.quote--two {
  border: 1.5px solid lightgray;
  border-radius: 1.5rem;
  padding-bottom: 2rem;
  font-style: italic;
  font-size: 20.8px;
  margin-bottom: 8rem;
  height: auto; }

span {
  font-weight: bold; }

.quotes--title {
  margin-left: 0;
  margin-right: 0; }

.quotes {
  margin-top: 2rem; }

.expertise--title {
  border-top: 1px solid #ddd;
  padding-top: 6rem; }

.thumbnail {
  border-radius: 3%;
  padding: 0.6rem; }

.thumbnail img {
  border-radius: 3%; }

.theme-container {
  display: flex;
  align-items: center;
  justify-content: center; }

.second-theme {
  background: #000; }

.nav-background {
  background-color: #548687;
  color: #fff;
  opacity: .5;
  -webkit-transition: .5s all ease-in;
  -moz-transition: .5s all ease-in;
  -ms-transition: .5s all ease-in;
  transition: .5s all ease-in;
  box-shadow: 1px 1px 4px #eee; }

@media only screen and (max-width: 985px) {
  .call-to-action {
    font-size: 5.5rem; }

  .description-to-action {
    font-size: 1.2rem; } }

/*# sourceMappingURL=main.css.map */
