body {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", Arial, Verdana;
  font-size: 16px; }

h2 {
  font-family: "Ubuntu";
  font-size: 32px;
  text-align: center;
  padding-bottom: 2rem;
  margin-bottom: 2rem; }

/*
.container-fluid.wrapper {
	padding-left: 0;
	padding-right: 0; 
}

.jumbotron {
	height: 100vh;
	background: url("../img/bcn.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
	color: #fff;
}

.jumbotron--title {
	text-shadow: 4px 2px 6px #292822;
	text-transform: uppercase;
	font-size: 4rem;
}

.jumbotron--description {
	padding: 1.5rem 0;
}

.img-responsive{
	height: 50px;
}

.navar-brandx {
	height: 70px;
	padding: 10px;
	margin-left: 40px;
}

.rotate-logo {
	transform: rotate(270deg);
}

.navbar.navbar-default.navbar-fixed-top{
	margin-bottom: 0;
    height: 70px;
    border-bottom: 0;
    background-color: transparent;
    margin: 0;
    padding: 0.5rem 0;
}

.navbar {
	margin-bottom: 0;
	border: 0;
	border-radius: 0;
}

ul.nav.navbar-nav.navbar-right {
	font-family: "Lato", Helvetica;
    font-size: 20px;
	
}

.nav.navbar-nav.navbar-right li {
    padding-right: 60px;
}

.containerx{
	font-family: "Lato", Helvetica;
	margin-top: 300px;
    margin-left: 100px;
    color: #fff;
}

.btn.btn-primary.btn-lg.btn-aboutMe,
.btn.btn-primary.btn-lg.btn-hireMe {
	font-family: "Lato", Helvetica;
    background: transparent;
    border: 1px solid #fff;
    font-size: 2rem;
    margin-right: 7rem;
    padding: 2rem 3.5rem;
    border-radius: 0;
    box-shadow: 1px 1px 0px #eee;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}

.btn.btn-primary1 {
	border: 1px;
	color: #000;
    transition: all 0.3s ease 0s;
}

.btn.btn-primary1:hover {
  box-shadow: inset 0 0 0 5px #fff;
  color: #000;
}

.row {
	margin-right: 40px;
	margin-left: 30px;

}

.btn.btn-primary1 {
	background: transparent;
	border: 1px solid #000; 
	font-size: 2rem;
	color: #000;
}

.fa.fa-linkedin {
	color: #3d75d0;
}

.container .jumbotron, 
.container-fluid .jumbotron {
	border-radius: 0;
}

.bio {
	height: auto;
	background-color: #6d2529;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin-top: -50px;
}

.biography--content {
	margin-top: 15px;
	background: #6d2529;
}

.biography {
	background: #6d2529;
    margin: 2rem 0;
    padding: 5rem 0 8rem 0;
}

.biography--title{
	color: #fff;
	margin-left: 44px;
    font-family: "Lato", Helvetica;
    padding: 20px;
}

.biografy-head2{
	color: #fff;
	margin-left: 44px;
    font-family: "Lato", Helvetica;
    padding: 20px;
    font-size: 20px;
}

.bio-explain {
	margin-top: 30px;
	margin-left: 60px;
	font-family: "Lato", Helvetica;
	font-size: 20px;
	width: 30%;
	color: #9c9696;
}

.bio-explain2 {
	margin-top: 25px;
	margin-left: 60px;
	font-family: "Lato", Helvetica;
	font-size: 20px;
	font-style: italic;
	width: 40%;
	color: #9c9696;
}

.studies {

	border-radius: 70px;
	width: 190px;
	height: 190px;
}

.experiencetitle {
	margin-top: 70px;
}

h1.experience {
    margin-left: 44px;
    font-family: "Lato", Helvetica;
    margin-top: 60px;
}

.experiencep {
	font-family: "Lato", Helvetica;
	font-size: 20px;
    margin-left: 49px;
    margin-right: 40px;
    margin-top: 80px;
    margin-bottom: 52px;
}

.skills-box {
    float: right;
    position: relative;
    width: 33.34%;
    margin-left: 10px;
}

.language-box {
    position: relative;
    float: left;
    width: 33.34%;
}

.languagebox {
	width: 152px;
    margin-left: 145px;
    margin-top: 40px;
}

.skillsbox {
	width: 152px;
    margin-left: 90px;
    margin-top: 40px;
    float: right;
}

.img-box{
    position: relative;
    float: center;
    width: 33.34%;
    text-align: center;
    width: 0;
    height: 0;
}

.img-ed {
    height: 220px;
    float: center;
    border-radius: 50%;
    width: 220px;
    margin-top: 200px;
    margin-left: 148px;
}

.bars-section {
	background: #000;
  	margin-top: 50px;
  	display: block;
}

.social-net {
    position: relative;
    display: inline-block;
    text-align: center;
}

.icons-box {
    text-align: center;
    margin: 0 auto;
}

.icons {
    text-align: center;
}

p.legal-foot {
    text-align: center;
}

p.share {
    text-align: center;
}

footer.footer {
    margin-top: 499px;
    background-color: rgba(198, 197, 255, 0.32);
}

.theme--white {
	background-color: #6d2529 !important;
	-webkit-transition: .5s all ease-in;
	-moz-transition: .5s all ease-in;
	-ms-transition: .5s all ease-in;
	transition: .5s all ease-in;
	box-shadow: 1px 1px 4px #eee;
}

.filter {
	display: inline-block;
    vertical-align: middle;
    padding: 1.5rem;
    background: #6d2529;
    font-size: 2rem;
    color: #fff;
    margin: 1rem 1.5rem 3rem 1.5rem;
    cursor: pointer;
    transition: .5s all ease-in;
}

.filter:hover {
	background: #582023;
	transition: 1s all ease-out;
}

#Container .mix{
	display: none;
}

@media only screen and (min-width: 360px) and (max-width: 480px) {
	.navbar.navbar-default.navbar-fixed-top{
	background: rgba(255,255,255,.9);
	}
	
	.navbar-default .navbar-toggle {
    border-color: #ddd;
    border: 0;
    top: 1rem;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background: rgba(255,255,255,.9);
    }

	.navbar-default .navbar-nav > li > a {
	color: #000;
	}

	.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 10px;
	}

	.navar-brandx {
	height: 70px;
	padding: 10px;
	margin-left: 50px;
	}
	.skills-box {
    float: inherit;
    position: relative;
    width: 33.34%;
    margin-left: 10px;
	}

	.language-box {
    
    position: relative;
    float: left;
    width: 33.34%;
	}

	.img-box{
  	display: none;
  	}

  	.bio-explain2 {
    margin-top: 30px;
    margin-left: 60px;
    font-family: "Lato", Helvetica;
    font-size: 16px;
    font-style: italic;
    width: 40%;
    color: #9c9696;
	}

	.language-box {
    position: relative;
    float: left;
    width: 33.34%;
    vertical-align: center;
	}

	.language-box {
    position: relative;
    float: left;
    width: 33.34%;
    vertical-align: center;
	}

	footer.footer {
    margin-top: 100px;
    background-color: rgba(198, 197, 255, 0.32);
	}
}

@media only screen and (min-width: 320px) and (max-width: 359px) {
	.navbar.navbar-default.navbar-fixed-top{
	background: rgba(255,255,255,.9);
	}
	
	.navbar-default .navbar-toggle {
    border-color: #ddd;
    border: 0;
    top: 1rem;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background: rgba(255,255,255,.9);
    }

	.navbar-default .navbar-nav > li > a {
	color: #000;
	}

	.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 10px;
	}

	.navar-brandx {
	height: 70px;
	padding: 10px;
	margin-left: 50px;
	}


	.experiencetitle {
	margin-top: 70px;
	}

	h1.experience {
    margin-left: 44px;
    font-family: "Lato", Helvetica;
    margin-top: 160px;
	}

	.experiencep {
	font-family: "Lato", Helvetica;
	font-size: 14px;
    margin-left: 49px;
    margin-right: 40px;
    margin-top: 80px;
    margin-bottom: 52px;
	}

	.skills-box {
    float: inherit;
    position: relative;
    width: 33.34%;
    margin-left: 10px;
	}

	.language-box {
    position: relative;
    float: left;
    width: 33.34%;
	}

	.img-box{
  	display: none;
  	}

	.bio-explain {
	margin-top: 30px;
	margin-left: 60px;
	font-family: "Lato", Helvetica;
	font-size: 14px;
	width: 30%;
	color: #9c9696;
}
  	.bio-explain2 {
    margin-top: 30px;
    margin-left: 60px;
    font-family: "Lato", Helvetica;
    font-size: 12px;
    font-style: italic;
    width: 40%;
    color: #9c9696;
	}

	.language-box {
    position: relative;
    float: left;
    width: 33.34%;
    vertical-align: center;
	}

	.language-box {
    position: relative;
    float: left;
    width: 33.34%;
    vertical-align: center;
	}

	footer.footer {
    margin-top: 100px;
    background-color: rgba(198, 197, 255, 0.32);
	}
}
*/
.navbar {
  margin-bottom: 0;
  background: transparent;
  border-bottom: 0;
  font-size: 20.8px; }

.navbar-brand {
  font-size: 24px; }

#en img,
#es img {
  height: 1.5rem;
  display: inline-block;
  margin: 0 0.1rem;
  padding: 0 0.1rem; }

h1.call-to-action,
.description-to-action {
  color: #fff; }

.jumbo-text {
  margin-top: 18%; }

.btn-transparent,
.btn-primary {
  background: #000;
  opacity: .5;
  border: none;
  color: #fff; }

.jumbotron {
  background-image: url("https://hd.unsplash.com/photo-1435163570436-d7c1dee361c4");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  margin: 0; }

.about-me {
  height: auto; }

.about-me--title,
.about-me--description {
  text-align: center; }

.about-me--description {
  padding-bottom: 2rem; }

.quotes--container {
  padding-bottom: 5rem; }

.quote--one,
.quote--two {
  border: 1.5px solid lightgray;
  border-radius: 1.5rem;
  padding-bottom: 2rem;
  font-style: italic;
  margin-bottom: 10rem;
  height: auto; }

section#about-me-section {
  margin-left: 0;
  margin-right: 0; }

.quotes--title {
  margin-left: 0;
  margin-right: 0; }

.quotes {
  margin-top: 2rem; }

.thumbnail {
  border-radius: 3%;
  padding: 0.6rem; }

.thumbnail img {
  border-radius: 3%; }

a.btn.btn-primary.btn-lg.btn-transparent:hover {
  background: #000;
  opacity: .75;
  border: none;
  color: #fff; }

a.btn.btn-primary.btn-lg.btn-transparent:active {
  background: #000;
  opacity: .65;
  border: none;
  color: #fff; }

a.btn.btn-primary.btn-lg.btn-transparent:visited {
  background: #000;
  opacity: .60;
  border: none;
  color: #fff; }

/*# sourceMappingURL=main.css.map */
