$primary-font: 'Ubuntu';
$font-size: 16px;
$color: #fff;
$color2: #000;
$align: center;
$padding: 2rem;
$margin: 2rem;
$rounded: 3%;
$smallPadding: 0.6rem;
$height:1.5rem;
$imgMarginAndPadding: 0 0.1rem;
