h1.call-to-action, 
.description-to-action {
	color: $color;
}

.jumbo-text {
	margin-top: 18%;
} 

.btn-transparent,
.btn-primary {
	background: $color2;
	opacity: .5;
	border:none;
	color: $color;
}

.jumbotron {
	background-image: url('https://hd.unsplash.com/photo-1435163570436-d7c1dee361c4');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	height:100vh;
	margin:0;
}
